// variables

// fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// colors
$primary: theme('colors.primary');
$secondary: theme('colors.secondary');
$white: theme('colors.white');
$black: theme('colors.black');
$blue: theme('colors.blue');
$border: theme('colors.border');
$gray: theme('colors.gray');
