@tailwind base;
@tailwind components;
@tailwind utilities;

// variables
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$primary: theme('colors.primary');
$secondary: theme('colors.secondary');
$white: theme('colors.white');
$black: theme('colors.black');
$blue: theme('colors.blue');

body {
    font-family: $font-primary;
}

img {
    width: 100%;
}

a,
button {
    transition: color .2s ease-in;
}

.main-title {
    font-family: $font-secondary;
    text-align: center;
    font-size: 1.625rem;
    font-weight: bold;

    @screen md {
        font-size: 2rem;
    }

    @screen lg {
        font-size: 3.125rem;
    }
}

.title-section {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 1.625rem;
    text-align: center;
    margin-bottom: 60px;
   
    @screen lg {
        font-size: 2.3rem; 
        margin-bottom: 80px;
    }
    
    span {
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            width: 80%;
            height: 2px;
            display: block;
            background-color: $secondary;
            margin: auto;
        }
    }

    &--white {
        color: $white;

        span::after {
            background-color: $white
        }
    }
}

.h3 {
    @apply text-xl font-bold;
}

.btn {
    font-size: 1.125rem;
    font-family: $font-secondary;
    border: 2px solid $primary;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    padding: 9px 30px;
    transition: box-shadow .2s ease-in;
    min-width: 170px;

    &:hover {
        transition: box-shadow .2s ease-in;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    }

    &--primary {
        background-color: $primary;
        color: $white;
    }

    &--outline {
        border-color: $white;
        color: $white;

        &.primary {
            color: $primary;
            border-color: $primary;
            transition: color .2s ease-in;

            &:hover {
                border-color: $white;
                color: $white;
            }
        }
    }
}


.header {
    box-shadow: 0px 4px 29px rgba(0, 0, 0, .12);

    a,
    button {

        &:hover {
            
            color: $primary;
        }
    }

    .btn-menu {

        span {
            margin-top: -5px;
            display: block;
        }
    }

    .icons-menu {

        @screen lg {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.block-links {
    padding: 0 20px;
    display: flex;
    margin: auto;
    margin-top: -40px;
    max-width: 1066px;
    position: relative;
    align-items: center;
    justify-content: center;

    .links-wrapper {
        background-color: $white;
        box-shadow: 0px 4px 19px rgba(0, 0, 0, .08);
        border-radius: 25px;
        padding: 20px;
        font-family: $font-secondary;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        @screen md {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }

        @screen lg {
            padding: 38px 20px;

            //min-height: 200px;
            // @apply flex justify-around items-center  flex-wrap;
        }
    }

    .link-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        // transition: font-weight .2s ease-in;
        margin: 10px;

        &:hover {
            color: $primary;
            font-weight: 600;
        }

        svg {
            width: 36px;
            height: 36px;

            @screen lg {
                width: 54px;
                height: 54px;
            }
        }

        span {
            text-align: center;
            font-size: .75rem;

            @screen lg {
                font-size: .875rem;
            }
        }
    }
}

.card {
    max-width: 450px;
    margin: auto;
    display: block;

    @screen lg {
        max-width: 560px;
    }
}

.card-event {
    max-width: 360px;
    box-shadow: 0px 4px 21px 1px rgba(0, 0, 0, 0.25);

    .content {
        padding: 30px;
        padding-top: 50px;
        position: relative;

        .date {
            text-align: center;
            min-width: 198px;
            padding: 20px;
            text-transform: uppercase;
            position: absolute;
            top: -40px;
            font-weight: 600;
            background-color: $blue;
            // background-color: $secondary;
            color: $white;
            @apply left-2/4 -translate-x-1/2 text-lg;
        }
    }

}

.card-img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 284px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    max-width: 450px;
    margin: auto;

    @screen lg {
        max-width: none;
        margin: 0;
    }

    &:hover {

        img {
            transform: scale(1.2);
            transition: 1.5s transform ease-in-out;
        }
    }

    .title {
        position: relative;
        color: $white;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s transform ease-out;
    }
}